In [64]:
import os
import pandas as pd
import glob
import pathlib
import time
import pymysql
import MySQLdb
from sqlalchemy import create_engine

In [65]:
# change directory to the location of the required csv files
new_dir = 'C:/Users/Home/Desktop/Springboard/mini_projects/Data_Pipeline_Mini_Project/'
os.chdir(new_dir)

In [66]:
os.listdir()

['.ipynb_checkpoints',
 '1605837410_Pipeline_Mini-Project__Event_Ticket_System_1_.pdf',
 'third_party_sales_1.csv',
 'Untitled.ipynb']

In [87]:
sales_df = pd.read_csv('third_party_sales_1.csv')
sales_df

,1,2020-08-01,100,The North American International Auto Show,2020-09-01,Exhibition,Michigan,123,35.00,3
0,2,2020-08-03,101,Carlisle Ford Nationals,2020-09-30,Exhibition,Carlisle,151,43.00,1
1,3,2020-08-03,102,Washington Spirits vs Sky Blue FC,2020-08-30,Sports,Washington DC,223,59.34,5
2,4,2020-08-05,103,Christmas Spectacular,2020-10-05,Theater,New York,223,89.95,2
3,5,2020-08-05,100,The North American International Auto Show,2020-09-01,Exhibition,Michigan,126,35.00,1
4,6,2020-08-05,103,Christmas Spectacular,2020-10-05,Theater,New York,1024,89.95,3

In [89]:
sales_df.columns = ('ticket_id',
                  'trans_date',
                  'event_id',
                  'event_name',
                  'event_date',
                  'event_type',
                  'event_city',
                  'customer_id',
                  'price',
                  'num_tickets')

In [90]:
sales_df

,ticket_id,trans_date,event_id,event_name,event_date,event_type,event_city,customer_id,price,num_tickets
0,2,2020-08-03,101,Carlisle Ford Nationals,2020-09-30,Exhibition,Carlisle,151,43.00,1
1,3,2020-08-03,102,Washington Spirits vs Sky Blue FC,2020-08-30,Sports,Washington DC,223,59.34,5
2,4,2020-08-05,103,Christmas Spectacular,2020-10-05,Theater,New York,223,89.95,2
3,5,2020-08-05,100,The North American International Auto Show,2020-09-01,Exhibition,Michigan,126,35.00,1
4,6,2020-08-05,103,Christmas Spectacular,2020-10-05,Theater,New York,1024,89.95,3

In [91]:
db = MySQLdb.connect('localhost', 'root', 'Hunter1!')

In [92]:
cursor = db.cursor()

In [114]:
# create the database in MySQL
cursor.execute('drop database if exists third_party_sales')
cursor.execute('create database third_party_sales')
cursor.execute('use third_party_sales')

0

In [115]:
cursor.execute('drop table if exists sales;')
cursor.execute('''create table sales(
                  ticket_id int,
                  trans_date int,
                  event_id int,
                  event_name varchar(50),
                  event_date date,
                  event_type varchar(10),
                  event_city varchar(20),
                  customer_id int,
                  price decimal,
                  num_tickets int
                  );''')

0

In [116]:
# create sqlalchemy engine to connect to MySQL
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw="#######",
                               db="third_party_sales"))

In [117]:
sales_df.to_sql('sales', con = engine, if_exists='replace')

In [120]:
#1 Write a SQL query to find the top selling tickets
cursor.execute('''
                select 
                    event_name
                    ,sum(num_tickets)
                from sales
                group by event_name
                order by num_tickets desc
                limit 3;''')
q1 = cursor.fetchall()
for x in q1:
    print(x)

('Washington Spirits vs Sky Blue FC', Decimal('5'))
('Christmas Spectacular', Decimal('5'))
('Carlisle Ford Nationals', Decimal('1'))