In [1]:
import os
import pymysql
import pandas as pd
import mysql.connector
import glob
import pathlib
import time
from sqlalchemy import create_engine

### Connect to MySQL

In [2]:
# Connect to mysql
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="#######!"
)

print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x0000026CB3A62CC8>

### Change Directory to data location

In [3]:
# change directory to the location of the required csv files
new_dir = 'C:/Users/Home/Desktop/Springboard/sql_mini_project'
os.chdir(new_dir)

### Cleanup data

### Create Database and Tables in MySQL

In [4]:
# create the database in MySQL
cursor = mydb.cursor()
cursor.execute('drop database if exists euro_cup_2016')
cursor.execute('create database euro_cup_2016')
cursor.execute('use euro_cup_2016')

In [5]:
cursor.execute('drop table if exists asst_referee_mast;')
cursor.execute('''create table asst_referee_mast(
                  ass_ref_id int unique not null primary key,
                  ass_ref_name varchar(30) not null,
                  country_id int not null references soccer_country(country_id)
                  );''')

In [6]:
cursor.execute('drop table if exists coach_mast;')
cursor.execute('''create table coach_mast(
                  couch_id int unique not null primary key,
                  coach_name varchar(30) not null);''')

In [7]:
cursor.execute('drop table if exists goal_details;')
cursor.execute('''create table goal_details(
                  goal_id int not null primary key,
                  match_no int,
                  player_id int,
                  team_id int,
                  goal_time int,
                  goal_type character(1),
                  play_stage character(1),
                  goal_schedule character(2),
                  goal_half int
                  );''')

In [8]:
cursor.execute('drop table if exists match_captain;')
cursor.execute('''create table match_captain(
                  match_no int, 
                  team_id int, 
                  player_captain int);''')

In [9]:
cursor.execute('drop table if exists match_details;')
cursor.execute('''create table match_details(
                   match_no int,
                   play_stage varchar(1),
                   team_id int,
                   win_lose varchar(1),
                   decided_by varchar(1),
                   goal_score int,
                   penalty_score int,
                   ass_ref int,
                   player_gk int);''')

In [10]:
cursor.execute('drop table if exists match_mast;')
cursor.execute('''create table match_mast(
                  match_no int not null primary key,
                  play_stage varchar(1),
                  play_date date,
                  results varchar(5),
                  decided_by varchar(1),
                  goal_score varchar(10),
                  venue_id int,
                  referee_id int,
                  audence int,
                  plr_of_match int,
                  stop1_sec int,
                  stop2_sec int
                  );''')

In [11]:
cursor.execute('drop table if exists penalty_gk;')
cursor.execute('''create table penalty_gk(
                  match_no int,
                  team_id int,
                  player_gk int
                  );''')

In [12]:
cursor.execute('drop table if exists penalty_shootout;')
cursor.execute('''create table penalty_shootout(
                  kick_id int not null primary key,
                  match_no int ,
                  team_id int,
                  player_id int,
                  score_goal varchar(1),
                  kick_no int
                  );''')

In [13]:
cursor.execute('drop table if exists player_booked;')
cursor.execute('''create table player_booked(
                  match_no int,
                  team_id int,
                  player_id int,
                  booking_time varchar(40),
                  sent_off varchar(1),
                  play_schedule varchar(2),
                  play_half int
                  );''')

In [14]:
cursor.execute('drop table if exists player_in_out;')
cursor.execute('''create table player_in_out(
                  match_no int,
                  team_id int,
                  player_id int,
                  in_out varchar(1),
                  time_in_out int,
                  play_schedule varchar(2),
                  play_half int
                  );''')

In [15]:
cursor.execute('drop table if exists player_mast;')
cursor.execute('''create table player_mast(
                  player_id int not null primary key, 
                  team_id int,
                  jersey_no int, 
                  player_name varchar(40),
                  posi_to_play varchar(2),
                  dt_of_bir date,
                  age int,
                  playing_club varchar(40)
                  );''')

In [16]:
cursor.execute('drop table if exists playing_position;')
cursor.execute('''create table playing_position(
                  position_id varchar(5) not null primary key,
                  position_desc varchar(10) not null)''')

In [17]:
cursor.execute('drop table if exists referee_mast;')
cursor.execute('''create table referee_mast(
                  referee_id int not null primary key,
                  referee_name varchar(40),
                  country_id int
                  )''')

In [18]:
cursor.execute('drop table if exists soccer_city;')
cursor.execute('''create table soccer_city(
                  city_id int not null primary key,
                  city varchar(25),
                  country_id int
                  )''')

In [19]:
cursor.execute('drop table if exists soccer_country;')
cursor.execute('''create table soccer_country(
                  country_id int not null primary key,
                  country_abbr varchar(4),
                  country_name varchar(40)
                  )''')

In [20]:
cursor.execute('drop table if exists soccer_team;')
cursor.execute('''create table soccer_team(
                  team_id int,
                  team_group varchar(1),
                  match_played int,
                  won int,
                  draw int,
                  lost int,
                  goal_for int,
                  goal_agnst int,
                  goal_diff int,
                  points int,
                  group_position int
                  )''')

In [21]:
cursor.execute('drop table if exists soccer_venue;')
cursor.execute('''create table soccer_venue(
                  venue_id int not null primary key,
                  venue_name varchar(30),
                  city_id int,
                  aud_capacity int
                  )''')

In [22]:
cursor.execute('drop table if exists team_coaches;')
cursor.execute('''create table team_coaches(
                  team_id int,
                  coach_id int
                  )''')

### Load pandas df's into Tables

In [23]:
# create sqlalchemy engine to connect to MySQL
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw="Hunter1!",
                               db="euro_cup_2016"))

In [24]:
# get all csvs from current directory
csvs = [x for x in os.listdir('.') if x.endswith('.csv')]

# extract name from each csv
files_names = [os.path.splitext(os.path.basename(x))[0] for x in csvs]

# create dictionary of datframes for importing into db
euro_data_dict = {}
for i in range(len(files_names)):
    euro_data_dict[files_names[i]] = pd.read_csv(csvs[i])

In [25]:
for table_name, data_frame in euro_data_dict.items():
    print(table_name) # change to logging fucntion, print displays the table after it was loaded
    data_frame.to_sql(table_name, con = engine, if_exists='replace')
    time.sleep(1)

asst_referee_mast
coach_mast
goal_details
match_captain
match_details
match_mast
penalty_gk
penalty_shootout
player_booked
player_in_out
player_mast
playing_position
referee_mast
soccer_city
soccer_country
soccer_team
soccer_venue
team_coaches

### Select Statements

In [26]:
cursor.execute('use euro_cup_2016')

In [27]:
#1 Write a SQL query to find the date EURO Cup 2016 started on
cursor.execute('select min(play_date) from match_mast;')
q1 = cursor.fetchall()
for x in q1:
    print(x)

('2016-06-11',)

In [28]:
#2 Write a SQL query to find the number of matches that were won by penalty shootout.
cursor.execute("select count(*)from  match_details where decided_by = 'P'")
q2 = cursor.fetchall()
for x in q2:
    print(x)

(6,)

In [29]:
#3 Write a SQL query to find the match number, date, and score for matches in which no stoppage time was added in the 1st half.
cursor.execute('''
SELECT 
md.match_no,
mm.play_date,
case when mm.goal_score = "01-Jan" then "01-01" end as goal_score

FROM match_details as md
join match_mast as mm
on mm.match_no = md.match_no
where mm.stop1_sec = 0
; 
''')
q3 = cursor.fetchall()
for x in q3:
    print(x)

(4, '2016-06-12', None)
(4, '2016-06-12', None)

In [30]:
#4 Write a SQL query to compute a list showing the number of substitutions that happened in various stages of 
#     play for the entire tournament
cursor.execute('''
select 
mm.play_stage 
,count(in_out) as substitution 
from match_mast as mm
join player_in_out as p on mm.match_no = p.match_no
group by play_stage
''')
q4 = cursor.fetchall()
for x in q4:
    print(x)

('G', 416)
('R', 90)
('Q', 44)
('S', 24)
('F', 12)

In [31]:
#5 Write a SQL query to find the number of bookings that happened in stoppage time.
cursor.execute('''
select 
count(booking_time)
from player_booked
where play_schedule = 'ST'
''')
q5 = cursor.fetchall()
for x in q5:
    print(x)

(10,)

In [32]:
#6 Write a SQL query to find the number of matches that were won by a single point, but
#  do not include matches decided by penalty shootout.
cursor.execute('''with q6 as (
select 
left(goal_score,1) - right(goal_score,1) as left_score
,right(goal_score,1) - left(goal_score,1) as right_score
    
from match_mast
where decided_by != 'P'
and results != 'DRAW'

)
select count(*)
from q6
where (left_score = 1) or (right_score = 1)
''')
q6 = cursor.fetchall()
for x in q6:
    print(x)

(21,)

In [33]:
#7 Write a SQL query to find all the venues where matches with penalty shootouts were played.
cursor.execute('''
select distinct 
s.venue_name
    
from penalty_shootout as p
left join match_mast as mm on p.match_no = mm.match_no
join soccer_venue as s on s.venue_id = mm.venue_id
group by s.venue_name
having count(p.kick_id) > 0
;
''')
q7 = cursor.fetchall()
for x in q7:
    print(x)

('Stade Geoffroy Guichard',)
('Stade VElodrome',)
('Stade de Bordeaux',)

In [34]:
#8 Write a SQL query to find the match number for the game with the highest number of penalty shots, 
#  and which countries played that match.
cursor.execute('''
select 
p.match_no
,count(p.kick_id) as total_kicks
from penalty_shootout as p
group by match_no
order by total_kicks desc
limit 1
;
''')
q8 = cursor.fetchall()
for x in q8:
    print(x)

(47, 18)

In [35]:
#9 Write a SQL query to find the goalkeeper’s name and jersey number, playing for Germany, 
#  who played in Germany’s group stage matches.
cursor.execute('''select distinct
s.country_name
,pm.player_name
,pp.position_desc
,m.play_stage
,pm.jersey_no

from soccer_country as s
left join soccer_team as t on t.team_id = s.country_id
join match_details as m on m.team_id = t.team_id
join player_mast as pm on pm.team_id = t.team_id
join playing_position as pp on pp.position_id = pm.posi_to_play

where 1 = 1
and s.country_name = 'Germany'
and pp.position_desc = 'Goalkeepers'
and m.play_stage = 'G'
;''')
q9 = cursor.fetchall()
for x in q9:
    print(x)

('Germany', 'Manuel Neuer', 'Goalkeepers', 'G', 1)
('Germany', 'Bernd Leno', 'Goalkeepers', 'G', 12)
('Germany', 'Marc-Andre ter Stegen', 'Goalkeepers', 'G', 22)

In [36]:
#10 Write a SQL query to find all available information about the players under contract to
# Liverpool F.C. playing for England in EURO Cup 2016.
cursor.execute('''with england as (
select country_id from soccer_country
where soccer_country.country_name = 'England'
)
select *
from player_mast as p
where p.team_id in (select * from england)
and p.playing_club = 'Liverpool'
;''')
q10 = cursor.fetchall()
for x in q10:
    print(x)

(118, 160131, 1206, 4, 'James Milner', 'MF', '1986-01-04', 30, 'Liverpool')
(122, 160130, 1206, 8, 'Adam Lallana', 'MF', '1988-05-10', 28, 'Liverpool')
(126, 160121, 1206, 12, 'Nathaniel Clyne', 'DF', '1991-04-05', 25, 'Liverpool')
(128, 160129, 1206, 14, 'Jordan Henderson', 'MF', '1990-06-17', 26, 'Liverpool')
(129, 160137, 1206, 15, 'Daniel Sturridge', 'FD', '1989-09-01', 26, 'Liverpool')

In [37]:
#11 Write a SQL query to find the players, their jersey number, and playing club who 
#   were the goalkeepers for England in EURO Cup 2016
cursor.execute('''with england as (
select country_id from soccer_country
where soccer_country.country_name = 'England'
)
select 
	p.player_name
    ,p.jersey_no
    ,p.playing_club
from player_mast as p
left join playing_position as pp on pp.position_id = p.posi_to_play
where p.team_id in (select * from england)
and pp.position_desc = 'Goalkeepers'
;
''')
q11 = cursor.fetchall()
for x in q11:
    print(x)

('Joe Hart', 1, 'Man. City')
('Fraser Forster', 13, 'Southampton')
('Tom Heaton', 23, 'Burnley')

In [38]:
#12 Write a SQL query that returns the total number of goals scored by each position on each country’s team.
#    Do not include positions which scored no goals
cursor.execute('''select distinct
	s.country_name as country
    ,pp.position_desc
    ,count(g.goal_id) as total_goals
    
from goal_details as g
join soccer_country as s on g.team_id = s.country_id
join player_mast as p on p.player_id = g.player_id
join playing_position as pp on pp.position_id = p.posi_to_play
group by s.country_name, pp.position_desc
having  count(g.goal_id) > 0
order by s.country_name, pp.position_desc
''')
q12 = cursor.fetchall()
for x in q12:
    print(x)

('Albania', 'Defenders', 1)
('Austria', 'Midfielders', 1)
('Belgium', 'Defenders', 4)
('Belgium', 'Midfielders', 5)
('Croatia', 'Defenders', 1)
('Croatia', 'Midfielders', 4)
('Czech Republic', 'Defenders', 2)
('England', 'Defenders', 3)
('England', 'Midfielders', 1)
('France', 'Defenders', 9)
('France', 'Midfielders', 4)
('Germany', 'Defenders', 4)
('Germany', 'Midfielders', 3)
('Hungary', 'Defenders', 4)
('Hungary', 'Midfielders', 1)
('Iceland', 'Defenders', 6)
('Iceland', 'Midfielders', 3)
('Italy', 'Defenders', 5)
('Italy', 'Midfielders', 1)
('Northern Ireland', 'Defenders', 3)
('Poland', 'Defenders', 2)
('Poland', 'Midfielders', 2)
('Portugal', 'Defenders', 8)
('Portugal', 'Midfielders', 1)
('Republic of Ireland', 'Defenders', 1)
('Republic of Ireland', 'Midfielders', 3)
('Romania', 'Defenders', 2)
('Russia', 'Defenders', 1)
('Russia', 'Midfielders', 1)
('Slovakia', 'Midfielders', 3)
('Spain', 'Defenders', 5)
('Switzerland', 'Defenders', 2)
('Switzerland', 'Midfielders', 1)
('Turkey', 'Defenders', 1)
('Turkey', 'Midfielders', 1)
('Wales', 'Defenders', 8)
('Wales', 'Midfielders', 1)

In [39]:
#13 Write a SQL query to find all the defenders who scored a goal for their teams.
cursor.execute('''with defenders as (
select * 
from playing_position
where position_desc = 'Defenders'
)

select distinct 
    p.player_name
from goal_details as g
join player_mast  as p on g.player_id = p.player_id
where p.posi_to_play in (select position_id from defenders)
; '''
)
q13 = cursor.fetchall()
for x in q13:
    print(x)

('Olivier Giroud',)
('Bogdan Stancu',)
('Fabian Schar',)
('Gareth Bale',)
('Hal Robson-Kanu',)
('Vasili Berezutski',)
('Arkadiusz Milik',)
('Thomas Muller',)
('Gerard Pique',)
('Ciaran Clark',)
('Graziano Pelle',)
('Adam Szalai',)
('Nani',)
('Admir Mehmedi',)
('Antoine Griezmann',)
('Jamie Vardy',)
('Daniel Sturridge',)
('Gareth McAuley',)
('Niall McGinn',)
('Eder',)
('Milan Skoda',)
('TomasNecid',)
('Alvaro Morata',)
('Nolito',)
('Romelu Lukaku',)
('Birkir Saevarsson',)
('Armando Sadiku',)
('Neil Taylor',)
('Mario Gomez',)
('Burak Yilmaz',)
('Nikola Kalinic',)
('Jon Dadi Bodvarsson',)
('Zoltan Gera',)
('Balazs Dzsudzsak',)
('Cristiano Ronaldo',)
('Ricardo Quaresma',)
('Jerome Boateng',)
('Toby Alderweireld',)
('Michy Batshuayi',)
('Giorgio Chiellini',)
('Wayne Rooney',)
('Arnor Ingvi Traustason',)
('Kolbeinn Sigthorsson',)
('Robert Lewandowski',)
('Ashley Williams',)
('Sam Vokes',)
('Leonardo Bonucci',)

In [40]:
#14 Write a SQL query to find referees and the number of bookings they made for the entire tournament. 
# Sort your answer by the number of bookings in descending order

cursor.execute('''
select 
rm.referee_name
,count(pb.booking_time) as total_books
    
from player_booked as pb
left join match_mast as mm on mm.match_no = pb.match_no
join referee_mast as rm on mm.referee_id = rm. referee_id
group by mm.referee_id
order by total_books desc
;'''
)
q14 = cursor.fetchall()
for x in q14:
    print(x)

('Mark Clattenburg', 21)
('Nicola Rizzoli', 20)
('Milorad Mazic', 13)
('Viktor Kassai', 12)
('Damir Skomina', 12)
('Sergei Karasev', 12)
('Bjorn Kuipers', 12)
('Jonas Eriksson', 11)
('Cuneyt Cakir', 11)
('Pavel Kralovec', 11)
('Carlos Velasco Carballo', 10)
('Szymon Marciniak', 10)
('Ovidiu Hategan', 9)
('Martin Atkinson', 9)
('Felix Brych', 9)
('Svein Oddvar Moen', 8)
('William Collum', 8)
('Clement Turpin', 3)

In [41]:
#15 Write a SQL query to find the referees who booked the most number of players.
cursor.execute('''select 
	rm.referee_name
	,count(pb.booking_time) as total_books
    
    
from player_booked as pb
left join match_mast as mm on mm.match_no = pb.match_no
join referee_mast as rm on mm.referee_id = rm. referee_id
group by mm.referee_id
order by total_books desc
limit 3
;''')
q15 = cursor.fetchall()
for x in q15:
    print(x)

('Mark Clattenburg', 21)
('Nicola Rizzoli', 20)
('Milorad Mazic', 13)

In [42]:
#16 Write a SQL query to find referees and the number of matches they worked in each venue
cursor.execute('''
select 
rm.referee_name
,sv.venue_name
,count(mm.match_no) as nbr_of_matches

from match_mast as mm
join referee_mast as rm on mm.referee_id = rm.referee_id 
join soccer_venue as sv on sv.venue_id = mm.venue_id
group by rm.referee_name, sv.venue_name
order by nbr_of_matches desc
;'''
)
q16 = cursor.fetchall()
for x in q16:
    print(x)

('Damir Skomina', 'Stade Pierre Mauroy', 3)
('Bjorn Kuipers', 'Stade de France', 2)
('Mark Clattenburg', 'Stade Geoffroy Guichard', 2)
('Nicola Rizzoli', 'Stade VElodrome', 2)
('Carlos Velasco Carballo', 'Stade Bollaert-Delelis', 2)
('Pavel Kralovec', 'Stade de Lyon', 2)
('Martin Atkinson', 'Parc des Princes', 1)
('Felix Brych', 'Stade Bollaert-Delelis', 1)
('Felix Brych', 'Stade de Nice', 1)
('Felix Brych', 'Stade VElodrome', 1)
('Cuneyt Cakir', 'Stade Geoffroy Guichard', 1)
('Cuneyt Cakir', 'Stade de Bordeaux', 1)
('Cuneyt Cakir', 'Stade de France', 1)
('Mark Clattenburg', 'Stade de Lyon', 1)
('Mark Clattenburg', 'Stade de France', 1)
('Jonas Eriksson', 'Parc des Princes', 1)
('Jonas Eriksson', 'Stadium de Toulouse', 1)
('Jonas Eriksson', 'Stade de Lyon', 1)
('Viktor Kassai', 'Stade de France', 1)
('Viktor Kassai', 'Stadium de Toulouse', 1)
('Viktor Kassai', 'Stade de Bordeaux', 1)
('Bjorn Kuipers', 'Stade de Bordeaux', 1)
('Szymon Marciniak', 'Stadium de Toulouse', 1)
('Szymon Marciniak', 'Stade de France', 1)
('Szymon Marciniak', 'Stade Pierre Mauroy', 1)
('Milorad Mazic', 'Stade de France', 1)
('Milorad Mazic', 'Stade de Nice', 1)
('Milorad Mazic', 'Stadium de Toulouse', 1)
('Damir Skomina', 'Stade de Nice', 1)
('Nicola Rizzoli', 'Parc des Princes', 1)
('Nicola Rizzoli', 'Stade de Lyon', 1)
('Martin Atkinson', 'Stade Pierre Mauroy', 1)
('Carlos Velasco Carballo', 'Stade Geoffroy Guichard', 1)
('William Collum', 'Stade VElodrome', 1)
('William Collum', 'Stade Bollaert-Delelis', 1)
('Sergei Karasev', 'Parc des Princes', 1)
('Sergei Karasev', 'Stade VElodrome', 1)
('Martin Atkinson', 'Stade de Lyon', 1)
('Svein Oddvar Moen', 'Stade de Bordeaux', 1)
('Svein Oddvar Moen', 'Stade VElodrome', 1)
('Clement Turpin', 'Stade de Bordeaux', 1)
('Clement Turpin', 'Parc des Princes', 1)
('Ovidiu Hategan', 'Stade de Nice', 1)
('Ovidiu Hategan', 'Stade Pierre Mauroy', 1)

In [43]:
#17 Write a SQL query to find the country where the most assistant referees come from, and the count of the assistant referees
cursor.execute('''
select 
sc.country_name
,count(rm.ass_ref_id) as total_asst_refs
from asst_referee_mast as rm
left join soccer_country as sc on sc.country_id = rm.country_id
group by sc.country_name
order by total_asst_refs desc
limit 1
;'''
)
q17 = cursor.fetchall()
for x in q17:
    print(x)

('England', 4)

In [44]:
#18 Write a SQL query to find the highest number of foul cards given in one match.

In [45]:
#19 Write a SQL query to find the number of captains who were also goalkeepers.
cursor.execute('''
select count(player_captain) as captain_and_goalkeeper 
from player_mast as pm
join match_captain as mc on mc.player_captain = pm.player_id
where posi_to_play = 'GK'
;'''
)
q19 = cursor.fetchall()
for x in q19:
    print(x)

In [46]:
#20 Write a SQL query to find the substitute players who came into the field in the first half of play, 
# within a normal play schedule.